body {background-color: pink}

h1 { font-weight: 850; font-family: Arial; font-size: 20pt; color: dark }

.nuancerose {color:pink}
.nuancebleu {color:#00008b}
.nuancevert {color:green}
.nuancevert2 {color:greenyellow}

a:link { color:purple; text-decoration:none; }

#infos {
    font-weight: 600;
    table, th, td {width: 100%;}
}

#études {
    background-color: purple;
    border-style: dashed;
    border-color: magenta;
    border-width: 3.5px;
    table{border: 0px solid black; width: 30%; height: 200px; border-spacing: 10px; vertical-align: text-top;}
}

#diplômes {
    border-style: dashed;
    border-color: darkblue;
    border-width: 3.5px;
    background-color: skyblue;
    table{border: 0px solid black; width: 70%; height: 200px; border-spacing: 10px; vertical-align: text-top;}
}

#compétences {
    border-style: dashed;
    border-color: darkgreen;
    border-width: 3.5px;
    background-color: greenyellow;
    table{border: 0px solid black; width: 70%; height: 200px; border-spacing: 10px; vertical-align: text-top;}
}

#expériences {
    border-style: dashed;
    border-color: mediumspringgreen;
    border-width: 3.5px;
    background-color: darkgreen;
    table{border: 0px solid black; width: 30%; height: 50px; border-spacing: 10px; vertical-align: text-top;}
}

#liste-à-puces {
    border-style: dashed;
    border-color: burlywood;
    border-width: 3.5px;
    background-color: brown;
    ul {list-style-type: square}
}